<!--adds a title and imports all the javascript and bootstrap related libraries
Also, imports custom css and scripts-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Agricultural Reporting</title>

    <!--import custom javascript-->
    <script src="~/MyScripts/javascript/ScrollToTopButton.js"></script>
    <script src="~/MyScripts/javascript/Validation.js"></script>
    <script src="~/MyScripts/javascript/DatePickerDefaultPreviousDate.js"></script>
    <!--import jquery-->
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script src="~/MyScripts/javascript/NavbarDefaultSelection.js"></script>



    <!--import custom jquery DatePicker script-->
    <script src="~/MyScripts/jquery/DatePickerJQ.js"></script>
    <script src="~/MyScripts/jquery/DatePickerSearch.js"></script>
    <link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>

    <!--import custom jquery TimePicker script -->
    <link href="~/Scripts/jquery.timepicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.timepicker.min.js"></script>
    <script src="~/Scripts/jquery.timepicker.js"></script>
    <script src="~/MyScripts/jquery/TimePicker.js"></script>

    <!--import custom jquery script that sets the DateTime dropdown to be selected already-->
    <script src="~/MyScripts/jquery/DateInputSetToValid.js"></script>

    <!--import bootstrap-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!--import custom css-->
    <link href="~/MyContent/Site.css" rel="stylesheet" />

    <!--import angular script-->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-route.js"></script>

    <!--import custom angular TSEntryController script.-->
    <script src="~/MyScripts/angular/TSEntryController.js"></script>
    <!--import custom angular TSEquipmentController script.-->
    <script src="~/MyScripts/angular/TSEquipmentController.js"></script>
    <!--import custom angular TSEmployeeController script.-->
    <script src="~/MyScripts/angular/TSEmployeeController.js"></script>
    <!--import custom angular TSMaintenanceOrderActivityController script.-->
    <script src="~/MyScripts/angular/TSMaintenanceOrderActivityController.js"></script>
    <!--import custom angular TSMaintenanceOrderGroupController script.-->
    <script src="~/MyScripts/angular/TSMaintenanceOrderGroupController.js"></script>
    <!--import custom angular TSTaskWorkOrderController script.-->
    <script src="~/MyScripts/angular/TSTaskWorkOrderController.js"></script>

    <!--import angularjs script to paginate through table-->
    <script src="~/Scripts/dirPagination.js"></script>

    <!--import angularjs script to display messages for validation/error handling-->
    <script src="~/Scripts/angular-messages.js"></script>
</head>