<!DOCTYPE html>
<html>

<!--Head Partial View. Loads all of the scripts-->
@Html.Partial("_Head")

<!--ng-app defines the "container where all your angular backend code will be able to work on the elements-->
<body>

    <!--button that when clicked scrolls to the top-->
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    <!--Navigation Bar Partial View-->
    @Html.Partial("_NavigationBar")

    <!--displays reports-->
    <div>
        
    </div>

</body>
<!--Footer Bar Partial View-->
@Html.Partial("_FooterBar")
</html>
