<!--table section -->
<div class="container" style="overflow-x:auto;">
    <table class="table table-condensed table-responsive table-bordered table-hover">
        <thead id="maintOrdActivityTA_CodeDistinct">
            <tr id="maintOrdActivityTA_CodeDistinctHeading">
                <!-- when you click on this heading (i.e ng-click), it sorts the indicated field. It also adds an up and down arrow with the span class-->
                <th ng-click="sort('TA_RecID')">
                    TA Rec ID
                    <span class="glyphicon sort-icon" ng-show="sortKey=='TA_RecID'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('Task')">
                    Task
                    <span class="glyphicon sort-icon" ng-show="sortKey=='Task'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('CombinedActivities')">
                    Combined Activities
                    <span class="glyphicon sort-icon" ng-show="sortKey=='CombinedActivities'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('TA_Code')">
                    TA Code
                    <span class="glyphicon sort-icon" ng-show="sortKey=='TA_Code'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th>
                    Option
                </th>
            </tr>
        </thead>
        <tbody>
            <!--the dir-paginate controller and itemsPerPage attribute (for pagination) sets the number of items in the table-->
            <!--loop through object data and print it out, with only 10 items per page,
                and allow sorting-->
            <tr dir-paginate="MaintOrdActivityTA_CodeDistinct in tsmaintordactivitybyta_code|itemsPerPage:10|orderBy:sortKey:reverse">
                <td>{{MaintOrdActivityTA_CodeDistinct.TA_RecID}}</td>
                <td>{{MaintOrdActivityTA_CodeDistinct.Task}}</td>
                <td>{{MaintOrdActivityTA_CodeDistinct.CombinedActivities}}</td>
                <td>{{MaintOrdActivityTA_CodeDistinct.TA_Code}}</td>
                <td>
                    <div class="btn btn-group-sm btn-block">
                        <input onclick="topFunction()" class="btn" id="updateButton" type="button" value="update" ng-click="UpdateMaintOrdActivity(MaintOrdActivityTA_CodeDistinct)" />
                        <input class="btn" id="deleteButton" type="button" value="delete" ng-click="DeleteMaintOrdActivity(MaintOrdActivityTA_CodeDistinct)" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!--controls to paginate through data-->
    <dir-pagination-controls max-size="5"
                             direction-links="true"
                             boundary-links="true">
    </dir-pagination-controls>
</div>
